@media screen and (max-width: 340px){
	.container{
		padding: 0 30px !important;
	}
}
@media screen and (max-width: 767px){
	.container{
		padding: 0 50px;
		max-width: 500px;
	}


	.button{
		width: 150px;
		height: 40px;

		border-radius: 5px;
	}


	h1{
		font-size: 30px;
		line-height: 36px;

		font-weight: 600;
	}
	p{
		font-size: 14px;
		line-height: 18px;
	}


	header{
		padding: 40px 0;
	}
	header nav{
		display: none;
	}
	header button{
		display: none;
	}
	header .mobile-nav-icon{
		display: block;
	}
	header .logo{
		font-size: 30px;
		line-height: 30px;
	}


	section.main .main-background{
		display: none;
	}
	section.second .second-background{
		display: none;
	}
	section.main{
		padding: 30px 0 70px 0;
		background: none;
	}
	section.second{
		padding: 70px 0 70px 0;

		background: #f5f5f5;
	}
	section.third{
		padding: 70px 0 70px 0;
	}
	.third-block-content{
		margin-bottom: 50px;
	}


	.icon-row{
		display: block;

		margin-left: 0;
		margin-right: 0;
	}
	.icon-block{
		width: 100%;
		margin-bottom: 50px;

		padding: 0;
	}
	.icon-block:last-child{
		margin-bottom: 0;
	}


	.purchase-row{
		display: block;
	}
	.purchase-block{
		width: 100%;
		margin-bottom: 70px;
	}
	.purchase-block:last-child{
		margin-bottom: 0;
	}
	.purchase-block .price{
		font-weight: 900;
	}

	footer nav{
		display: none;
	}
	footer button{
		display: none;
	}
}