.brugermenu{
    position: fixed;

    top: 0;
    left: -300px;

    max-width: 90%;
    width: 300px;
    height: 100%;

    background: #37447E;

    z-index: 99;
    transition: 0.2s ease;
}
.brugermenu.active{
    left: 0;
}
ul.flex-column{
    margin-top: 70px;
}
ul.flex-column > li.nav-item{
    padding: 0;
    margin: 0;

    background: none;
    transition: 0.2s ease;
}
ul.flex-column > li.nav-item.active{
    background: #6F7CB2;
}
ul.flex-column > li.nav-item:hover{
    background: #748ae5;
}
ul.flex-column > li.nav-item > a.nav-link{
    display: block;

    padding: 0px 40px;
    color: white;

    font-size: 14px;
    line-height: 50px;
    
    font-weight: 500;
}

.close{
    position: absolute;

    display: flex;

    top: 25px;
    right: 40px;

    cursor: pointer;

    font-size: 12px;
    font-weight: 600;

    color: white;
}
.close img{
    height: 24px;
    width: 24px;

    filter: invert(0);
    transform: rotate(0deg);

    transition: 0.2s ease;

    margin-left: 15px;
}
.close:hover{
    transition: 0.2s ease;
    color: #cdcbcb;
}
.close:hover img{
    filter: invert(0.15);
    transform: rotate(90deg);
}

.mobile-nav-icon{
    display: none;

    cursor: pointer;

    height: 30px;
    width: 30px;
    
    background: url("../../img/menu.svg") no-repeat 50% 50%;
    background-size: cover;

    align-self: center;

    margin-right: 20px;

    filter: brightness(100%);
    transition: 0.2s ease;
}
.mobile-nav-icon:hover{
    filter: brightness(120%);
}
