section.main{
    padding: 120px 0 140px 0;
}
section.main .main-background{
    position: absolute;

    right: 0;
    bottom: 0;

    width: 40%;
    height: 100%;

    z-index: -1;

    background: url("../../img/tablet.jpg") no-repeat;
    background-position: 0% -70%;
}

.icon-row{
    display: flex;
    justify-content: space-between;

    margin-top: 50px;

    margin-left: -20px;
    margin-right: -20px;
}
.icon-block{
    width: 50%;
    padding: 0px 20px;
    max-width: 255px;;
}
.icon-block .icon{
    width: 36px;
    height: 36px;
}
.icon-block .title{
    font-weight: 500;
    text-transform: capitalize;

    color: #091133;

    margin: 10px 0 5px 0;
}
.icon-block .content{
    font-size: 12px;
    line-height: 18px;

    color: #5D6970;
}